

.container{
    border: 3px solid brown ;
    background-color:green ;
    height: 500px;
    width: 500px;
    display: flexbox;
}

.box{
    border: 2px solid blue ;
    background-color: aquamarine  ;
    /* --dark-red:#981a2c; // to declare a variable 
    color: var(--dark-red); */
    height: 150px;
    width: 150px;
    margin: 20px;
    transition: transform 3s ease in;
}
   
.box:hover{
  /* background-color: brown ;
  transform: rotate(45 deg); */
transform: translateX(50px);
}